<h1>Listing messages</h1>

<table>
  <tr>
    <th>Msg</th>
    <th>Algorithm</th>
    <th>Section</th>
    <th>Name</th>
    <th>Email</th>
    <th>Subject</th>
  </tr>

<% @messages.each do |message| %>
  <tr>
    <td><%=h message.msg %></td>
    <td><%=h message.algorithm %></td>
    <td><%=h message.section %></td>
    <td><%=h message.name %></td>
    <td><%=h message.email %></td>
    <td><%=h message.subject %></td>
    <td><%= link_to 'Show', message %></td>
    <td><%= link_to 'Edit', edit_message_path(message) %></td>
    <td><%= link_to 'Destroy', message, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New message', new_message_path %>