<% title("Make a suggestion") %>

<div class="subtitle">Make a suggestion</div>

<div class="text">
	<p>
	Thank you for taking the time to improve the <%= link_to @algorithm.name, @algorithm %> description.
	<br />
	All suggestions are read by our team of algorithm research scientists.
	</p>
	<br />
</div>

<% form_for [:algorithm, @message]  do |f| %>
	<%= f.error_messages  %>

	<table width="50%">
		<tr>
			<td colspan=2>
		    <strong><%= f.label :msg, "Your suggestion:" %></strong><br />
		    <%= f.text_area :msg, :size => "50x10" %>				
			</td>
		</tr>
		<tr>
			<td colspan=2>
		    <p style="font-size:80%;">
		    	You may optionally provide your name if you would like to be mentioned in an acknowledgement.
					You may provide an email address if you would like to be contacted about your suggestion.
		    </p>
			</td>
		</tr>
		<tr>
			<td>
		    <%= f.label :name, "Your name <small>(optional)</small>:" %><br />
		    <%= f.text_field :name %>			
			</td>
			<td>
		    <%= f.label :email, "Email address <small>(optional)</small>:" %><br />
		    <%= f.text_field :email %>		
			</td>
		</tr>
		<tr>
			<td>
				<br />
		    <%= f.submit 'Submit' %> | <%= link_to 'Back', @algorithm %>
			</td>
			<td></td>
		</tr>
	</table>
<% end %>
