<div class="algorithm_fields">
	<table class="algorithm_fields">
		<tr>
			<th><%= f.label :name %></th>
			<td><%= f.text_field :name, :size=>80 %></td>
		</tr>
		<tr>
			<th><%= f.label :aliases %></th>
			<td><%= f.text_area :aliases, :size=>"80x2" %></td>
		</tr>
		<tr>
			<th><%= f.label :taxonomy %></th>
			<td><%= f.text_area :taxonomy, :size=>"80x10" %></td>
		</tr>
		<tr>
			<th><%= f.label :inspiration %></th>
			<td><%= f.text_area :inspiration, :size=>"80x10" %></td>
		</tr>
		<tr>
			<th><%= f.label :metaphor %></th>
			<td><%= f.text_area :metaphor, :size=>"80x10" %></td>
		</tr>
		<tr>
			<th><%= f.label :strategy %></th>
			<td><%= f.text_area :strategy, :size=>"80x10" %></td>
		</tr>
		<tr>
			<th><%= f.label :procedure %></th>
			<td><%= f.text_area :procedure, :size=>"80x10" %></td>
		</tr>
		<tr>
			<th><%= f.label :heuristics %></th>
			<td><%= f.text_area :heuristics, :size=>"80x10" %></td>
		</tr>
		<tr>
			<th><%= f.label :code %></th>
			<td><%= f.text_area :code, :size=>"80x10" %></td>
		</tr>
		<tr>
			<th><%= f.label :code_file %></th>
			<td><%= f.text_field :code_file, :size=>80 %></td>
		</tr>
		<tr>
			<th><%= f.label :references %></th>
			<td><%= f.text_area :references, :size=>"80x10" %></td>
		</tr>
		<tr>
			<th><%= f.label :web %></th>
			<td><%= f.text_area :web, :size=>"80x10" %></td>
		</tr>
		<tr>
			<th><%= f.label :bibliography %></th>
			<td><%= f.text_area :bibliography, :size=>"80x10" %></td>
		</tr>
	</table>
</div>