<h1>Editing algorithm</h1>

<% form_for @algorithm, :url => { :controller => "admin/algorithms", :action=>"update", :id=>@algorithm.id } do |f| %>
  <%= f.error_messages %>
	<div class="algorithm_edit_controls">
	<%= f.submit 'Update' %> | <%= link_to "Back", :controller => "admin/algorithms" %>
	<div>

	<%= render :partial=>"algorithms_form", :locals => { :f => f } %>
  	
	<div class="algorithm_edit_controls">
	<%= f.submit 'Update' %> | <%= link_to "Back", :controller => "admin/algorithms" %>
	<div>
<% end %>


