<h1>Editing algorithm</h1>

<% form_for [:admin, @algorithm] do |f| %>
  <%= f.error_messages %>
	<div class="algorithm_edit_controls">
	<%= f.submit 'Update' %> | <%= link_to "Back", admin_algorithms_path %>
	<div>

	<%= render :partial=>"algorithms_form", :locals => { :f => f } %>
  	
	<div class="algorithm_edit_controls">
	<%= f.submit 'Update' %> | <%= link_to "Back", admin_algorithms_path %>
	<div>
<% end %>


