<% title("Manage Algorithms") %>

<div class="subtitle">Manage Algorithms</div>

<p class="text">
	There are <strong><%=h @algorithms.size %> algorithms</strong> described in the Clever Algorithms project.
</p>

<p class="manage_controls">
	<%= link_to 'New', :controller => "admin/algorithms", :action => "new" %> |
	<%= link_to "Back", admin_panel_path %>
</p>

<table class="algorithm_list">
	<tr>
		<th>Name</th>
		<th>Created</th>
		<th>Updated</th>
		<th>Released</th>
		<th>Msgs</th>
		<th></th>
	</tr>
	
	<% @algorithms.each do |a| %>
		<tr class="algorithm_list_row">
			<td><%= link_to a.name, a %></td>
			<td><%= date_difference_days(a.created_at) %></td>
			<td><%= date_difference_days(a.updated_at) %></td>
			<td class="algorithm_<%= (a.released) ? "released" : "unreleased" %>">
				<%= (a.released) ? "Yes" : "No" %>
			</td>
			<td>				
				<span <%= (a.has_unaddressed_msgs?) ? "class='highlighted'" : "" -%> >
				<%= algorithm_messages_field(a) %>
				</span>
			</td>
			<td style="text-align:center;">
				<%= link_to 'Edit', :controller => "admin/algorithms", :action => "edit", :id=>a.id %> | 
				<%= link_to 'Delete', {:controller=>"admin/algorithms", :action=>"destroy", :id=>a.id}, :confirm=>"Are you sure?", :method=>:delete %>
			</td>
		</tr>
	<% end %>
</table>

<p class="manage_controls">
	<%= link_to 'New', :controller => "admin/algorithms", :action => "new" %> |
	<%= link_to "Back", admin_panel_path %>
</p>


