<% title("Manage Algorithms") %>

<div class="subtitle">Manage Algorithms</div>

<div class="text">
	There are <strong><%=h @algorithms.size %> algorithms</strong> described in the Clever Algorithms project.
</div>

<div class="manage_controls">
	<%= link_to 'New', :controller => "admin/algorithms", :action => "new" %> |
	<%= link_to "Back", admin_panel_path %>
</div>

<div class="algorithm_list">
	<% @algorithms.each do |a| %>
		<div class="algorithm_item">
			<span style="width:700px;"><%= link_to a.name, a %></span>
			<span>
				<%= link_to 'edit', :controller => "admin/algorithms", :action => "edit", :id=>a.id %> |
				<%= link_to 'delete', {:controller=>"admin/algorithms", :action=>"destroy", :id=>a.id}, :confirm=>"Are you sure?", :method=>:delete %>
			</span>
		</div>		
	<% end %>
</div>

<div class="manage_controls">
	<%= link_to 'New', :controller => "admin/algorithms", :action => "new" %> |
	<%= link_to "Back", admin_panel_path %>
</div>


