<h1>Manage Algorithms</h1>

<%= link_to 'New', :controller => "admin/algorithms", :action => "new" %> |
<%= link_to "Back", admin_panel_path %>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @algorithms.each do |a| %>
  <tr>
    <td><%=h a.name %></td>
    <td><%= link_to 'Edit', :controller => "admin/algorithms", :action => "edit", :id=>a.id %></td>
    <td><%= link_to 'Delete', {:controller=>"admin/algorithms", :action=>"destroy", :id=>a.id}, :confirm=>"Are you sure?", :method=>:delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New', :controller => "admin/algorithms", :action => "new" %> |
<%= link_to "Back", admin_panel_path %>

