<h1>New algorithm</h1>


<% form_for :algorithm, :url => { :controller => "admin/algorithms", :action=>"create" } do |f| %>
  <%= f.error_messages %>

  	<div class="algorithm_edit_controls">
	<%= f.submit 'Create' %> | <%= link_to "Back", admin_algorithms_path %>
	<div>

	<%= render :partial=>"algorithms_form", :locals => { :f => f } %>
	
	<div class="algorithm_edit_controls">
	<%= f.submit 'Create' %> | <%= link_to "Back", admin_algorithms_path %>
	<div>
<% end %>
