<h1>New algorithm</h1>


<% form_for :algorithm, :url => { :controller => "admin/algorithms" } do |f| %>
  <%= f.error_messages %>

  	<div class="algorithm_edit_controls">
	<%= f.submit 'Create' %> | <%= link_to "Back", :controller => "admin/algorithms" %>
	<div>

	<%= render :partial=>"algorithms_form", :locals => { :f => f } %>
	
	<div class="algorithm_edit_controls">
	<%= f.submit 'Create' %> | <%= link_to "Back", :controller => "admin/algorithms" %>
	<div>
<% end %>

<%= link_to 'Back', :controller=>"admin/algorithms" %>