<p>
  <b>Name:</b>
  <%=h @algorithm.name %>
</p>

<p>
  <b>Aliases:</b>
  <%=h @algorithm.aliases %>
</p>

<p>
  <b>Taxonomy:</b>
  <%=h @algorithm.taxonomy %>
</p>

<p>
  <b>Inspiration:</b>
  <%=h @algorithm.inspiration %>
</p>

<p>
  <b>Metaphor:</b>
  <%=h @algorithm.metaphor %>
</p>

<p>
  <b>Strategy:</b>
  <%=h @algorithm.strategy %>
</p>

<p>
  <b>Procedure:</b>
  <%=h @algorithm.procedure %>
</p>

<p>
  <b>Heuristics:</b>
  <%=h @algorithm.heuristics %>
</p>

<p>
  <b>Code:</b>
  <%=h @algorithm.code %>
</p>

<p>
  <b>Code file:</b>
  <%=h @algorithm.code_file %>
</p>

<p>
  <b>References:</b>
  <%=h @algorithm.references %>
</p>


<%= link_to 'Edit', edit_algorithm_path(@algorithm) %> |
<%= link_to 'Back', algorithms_path %>