<center>
	<table width="800px">
		<tr>
			<td colspan="2" class="title">				
				<h1><%= book_title %></h1>
				<h2><%= book_subtitle %></h2>
			</td>			
		</tr>		
		
		<% if !flash[:notice].nil? %>
		<tr>
			<td colspan="2">
					<div class="flash"><%= flash[:notice] %></div>
			</td>
		</tr>
		<% end %>
		
		<tr>
			<td class="cover">
				<span class="img-shadow">
				<%= link_to image_tag('cover.jpg', :alt=>book_name_full), "" %>
				</span>
			</td>
			<td class="text">
				<p>
				</p>
				
				<p>
				The book "<strong><%= book_name_full %></strong>" by <%= book_author %> describes 50 algorithms from the the field of Artificial Intelligence in a complete, consistent, and centralized manner such that they are accessible, usable, and understandable by a wide audience.				
				</p>
				<div class="buy_now"><span class="red_button"><%= link_to "Buy the Book", "" %></span></div>
				<p>
					<strong>5 Reasons To Buy:</strong>
					<ol>
						<li>50 modern algorithms described.</li>
						<li>Designed for Programmers, Research Scientists and Interested Amateurs.</li>
						<li>Complete code examples in the Ruby programming language.</li>
						<li>Standardized algorithm descriptions.</li>
						<li>Algorithms drawn from the popular fields of Computational Intelligence, Metahuristics, and Biologically Inspired Computation.</li>
					</ol>
				</p>				
			</td>			
		</tr>
		
		<% if false %>
		<tr>
			<td colspan="2" class="toc">			
				<%=	render :partial=>"form", :locals=>{:email=>Email.new} %>				
			</td>
		</tr>
		<% end 	%>
		
		<tr>
			<td colspan="2" class="toc">
				<h3>Table of Contents</h3>
				<ol>
					<li>Background</li>
					<ol>
						<li>Introduction</li>
					</ol>
					<li>Algorithms</li>
					<ol>
						<li>
							<strong>Stochastic Algorithms</strong>: Random Search, Adaptive Random Search, Stochastic Hill Climbing, Iterated Local Search, Guided Local Search, Variable Neighborhood Search, Greedy Randomized Adaptive Search, Scatter Search, Tabu Search, Reactive Tabu Search.
						<li>
							<strong>Physical Algorithms</strong>: Simulated Annealing, Adaptive Simulated Annealing, Memetic Algorithm, Extremal Optimization, Cultural Algorithm.
						</li>
						<li>
							<strong>Evolutionary Algorithms</strong>: Genetic Algorithm, Genetic Programming, Evolutionary Programming, Evolution Strategies, Learning Classifier System, Differential Evolution, Grammatical Evolution, Gene Expression Programming, Non-dominated Sorting Genetic Algorithm, Strength Pareto Evolutionary Algorithm.
						</li>
						<li>
							<strong>Probabilistic Algorithms</strong>: Cross-Entropy Method, Population-Based Incremental Learning , Probabilistic Incremental Program Evolution, Compact Genetic Algorithm, Extended Compact Genetic Algorithm, Bayesian Optimization Algorithm, Hierarchical Bayesian Optimization Algorithm, Univariate Marginal Distribution Algorithm , Bivariate Marginal Distribution Algorithm, Gaussian Adaptation.
						</li>
						<li>
							<strong>Swarm Algorithms</strong>: Particle Swarm Optimization, AntNet, Ant System, Max-Min Ant System, Rank-Based Ant System, Ant Colony System, Multiple Ant Colony System, Population-based Ant Colony Optimization, Bees Algorithm, Bacterial Foraging Optimization Algorithm.
						</li>
						<li>
							<strong>Immune Algorithms</strong>: Clonal Selection Algorithm, Negative Selection Algorithm, Artificial Immune Recognition System, Immune Network Algorithm, Dendritic Cell Algorithm.
						</li>
					</ol>
					<li>Extensions</li>
					<ol>
						<li>Advanced Topics</li>
					</ol>
				</ol>
			</td>
		</tr>
	</table>
</center>