<% title(book_title) %>
<a name="book"></a>
<div class="subtitle">Buy the book</div>
<p>Support the project, buy the book!</p>


<div class="subsubtitle">Book Details</div>
<div class="about">
	<p>
	The book will by published through LuLu and be available through Amazon and all good book stores. 
	It shall be released as a PDF e-book and paperback. The contents of the book are freely available 
	online at <%= link_to site_name, site_url %>.
	</p>
	
	<ul>
		<li>Jason Brownlee. <strong><%= book_title %></strong>, LuLu, 2010 (expected)</li>
	</ul>
</div>


<div class="subsubtitle">Coming Soon...</div>
<div class="notification">	
	<p>
	Get notified when the book is launched!
	</p>
	
	<% form_for :email, :url=>{:controller=>"book",:action=>"create"} do |f| %>	
	<table>
		<tr>
			<td></td>
			
		</tr>
		<tr>
			<td>
			</td>
		</tr>
	</table>
	
	<div>
		<div><%= f.error_messages %></div>
		<span><%= f.label :email, "Your email" %>:</span>
		<span><%= f.text_field :email, :size=>40 %></span>
		<span><%= f.submit 'Let me know!' %></span>
		<div>
			<small>* We promise to use your email responsibly. No spam.</small>
		</div>
	</div>	
	<% end %>
</div>

<div class="subsubtitle">Table of Contents</div>
<div class="toc">
	<ol>
		<li>Background</li>
		<ol>
			<li>Introduction</li>
		</ol>
		
		<li>Algorithms</li>
		<ol>
			<li>Stochastic Algorithms</li>
			<ol>
				<li><%= lazy_algorithm_link("Random Search") %></li>
				<li><%= lazy_algorithm_link("Adaptive Random Search") %></li>
				<li><%= lazy_algorithm_link("Stochastic Hill Climbing") %></li>
				<li><%= lazy_algorithm_link("Iterated Local Search") %></li>
				<li><%= lazy_algorithm_link("Guided Local Search") %></li>
				<li><%= lazy_algorithm_link("Variable Neighborhood Search") %></li>
				<li><%= lazy_algorithm_link("Greedy Randomized Adaptive Search") %></li>
				<li><%= lazy_algorithm_link("Scatter Search") %></li>
				<li><%= lazy_algorithm_link("Tabu Search") %></li>
				<li><%= lazy_algorithm_link("Reactive Tabu Search") %></li>
			</ol>
			<li>Physical Algorithms</li>
			<ol>
				<li><%= lazy_algorithm_link("Simulated Annealing") %></li>
				<li><%= lazy_algorithm_link("Adaptive Simulated Annealing") %></li>
				<li><%= lazy_algorithm_link("Memetic Algorithm") %></li>
				<li><%= lazy_algorithm_link("Extremal Optimization") %></li>
				<li><%= lazy_algorithm_link("Cultural Algorithm") %></li>
			</ol>
			<li>Evolutionary Algorithms</li>
			<ol>
				<li><%= lazy_algorithm_link("Genetic Algorithm") %></li>
				<li><%= lazy_algorithm_link("Genetic Programming") %></li>
				<li><%= lazy_algorithm_link("Evolutionary Programming") %></li>
				<li><%= lazy_algorithm_link("Evolution Strategies") %></li>
				<li><%= lazy_algorithm_link("Learning Classifier System") %></li>
				<li><%= lazy_algorithm_link("Differential Evolution") %></li>
				<li><%= lazy_algorithm_link("Grammatical Evolution") %></li>
				<li><%= lazy_algorithm_link("Non-dominated Sorting Genetic Algorithm") %></li>
				<li><%= lazy_algorithm_link("Strength Pareto Evolutionary Algorithm") %></li>
				<li><%= lazy_algorithm_link("Island Population Genetic Algorithm") %></li>
			</ol>
			<li>Probabilistic Algorithms</li>
			<ol>
				<li><%= lazy_algorithm_link("Cross-Entropy Method") %></li>
				<li><%= lazy_algorithm_link("Population-Based Incremental Learning ") %></li>
				<li><%= lazy_algorithm_link("Probabilistic Incremental Program Evolution") %></li>
				<li><%= lazy_algorithm_link("Compact Genetic Algorithm") %></li>
				<li><%= lazy_algorithm_link("Extended Compact Genetic Algorithm") %></li>
				<li><%= lazy_algorithm_link("Bayesian Optimization Algorithm") %></li>
				<li><%= lazy_algorithm_link("Hierarchical Bayesian Optimization Algorithm") %></li>
				<li><%= lazy_algorithm_link("Univariate Marginal Distribution Algorithm ") %></li>
				<li><%= lazy_algorithm_link("Bivariate Marginal Distribution Algorithm") %></li>
				<li><%= lazy_algorithm_link("Gaussian Adaptation") %></li>
			</ol>
			<li>Swarm Algorithms</li>
			<ol>
				<li><%= lazy_algorithm_link("Particle Swarm Optimization") %></li>
				<li><%= lazy_algorithm_link("AntNet") %></li>
				<li><%= lazy_algorithm_link("Ant System") %></li>
				<li><%= lazy_algorithm_link("Max-Min Ant System") %></li>
				<li><%= lazy_algorithm_link("Rank-Based Ant System") %></li>
				<li><%= lazy_algorithm_link("Ant Colony System") %></li>
				<li><%= lazy_algorithm_link("Multiple Ant Colony System") %></li>
				<li><%= lazy_algorithm_link("Population-based Ant Colony Optimization") %></li>
				<li><%= lazy_algorithm_link("Bees Algorithm") %></li>
				<li><%= lazy_algorithm_link("Bacterial Foraging Optimization Algorithm") %></li>
			</ol>
			<li>Immune Algorithms</li>
			<ol>
				<li><%= lazy_algorithm_link("Clonal Selection Algorithm") %></li>
				<li><%= lazy_algorithm_link("Negative Selection Algorithm") %></li>
				<li><%= lazy_algorithm_link("Artificial Immune Recognition System") %></li>
				<li><%= lazy_algorithm_link("Immune Network Algorithm") %></li>
				<li><%= lazy_algorithm_link("Dendritic Cell Algorithm") %></li>
			</ol>
		</ol>
		
		<li>Extensions</li>
		<ol>
			<li>Advanced Topics</li>
		</ol>
	</ol>
</div>
