<% title(book_title) %>

<div class="subtitle">Buy the book</div>

<div class="about">
The Clever Algorithms project is an effort to describe a large number of algorithmic techniques from the the field of Artificial Intelligence in a complete, consistent, and centralized manner such that they are accessible, usable, and understandable.
</div>

<div class="about">
	<p>
	The title of the book is: <strong><%= book_title %></strong>.
	</p>
	
	<p>
	The expected launch date is <em>late 2010</em>.
	</p>
	
	<p>
	The book will by published through <a href="http://www.lulu.com">LuLu.com</a> and be available through Amazon and all good book stores. It shall be released as a PDF e-book and paperback. The contents of the book are freely available online at <%= link_to site_name, site_url %>.
	</p>
	<br />
</div>

<div class="subsubtitle">Notification of Book Launch</div>
<div class="notification">
	<p>
	Do you want to be notified when the book is launched? 
	</p>
	<p>
	<% form_for :email, :url=>{:controller=>"book",:action=>"create"} do |f| %>
	<%= f.error_messages %>
	<%= f.label :email %>
	<%= f.text_field :email, :size=>40 %>
	<%= f.submit 'Notify Me!' %>
	<% end %>		
	<small>* We promise to use your email responsibly. No spam.</small>
	</p>
	<br />
</div>

<div class="subsubtitle">Table of Contents</div>
<div class="toc">
	<ol>
		<li>Background</li>
		<ol>
			<li>Introduction</li>
		</ol>
		
		<li>Algorithms</li>
		<ol>
			<li>Stochastic Algorithms</li>
			<ol>
				<li>Random Search</li>
				<li>Adaptive Random Search</li>
				<li>Stochastic Hill Climbing</li>
				<li>Iterated Local Search</li>
				<li>Guided Local Search</li>
				<li>Variable Neighborhood Search</li>
				<li>Greedy Randomized Adaptive Search</li>
				<li>Scatter Search</li>
				<li>Tabu Search</li>
				<li>Reactive Tabu Search</li>
			</ol>
			<li>Physical Algorithms</li>
			<ol>
				<li>Simulated Annealing</li>
				<li>Adaptive Simulated Annealing</li>
				<li>Memetic Algorithm</li>
				<li>Extremal Optimization</li>
				<li>Cultural Algorithm</li>
			</ol>
			<li>Evolutionary Algorithms</li>
			<ol>
				<li>Genetic Algorithm</li>
				<li>Genetic Programming</li>
				<li>Evolutionary Programming</li>
				<li>Evolution Strategies</li>
				<li>Learning Classifier System</li>
				<li>Differential Evolution</li>
				<li>Grammatical Evolution</li>
				<li>Non-dominated Sorting Genetic Algorithm</li>
				<li>Strength Pareto Evolutionary Algorithm</li>
				<li>Island Population Genetic Algorithm</li>
			</ol>
			<li>Probabilistic Algorithms</li>
			<ol>
				<li>Cross-Entropy Method</li>
				<li>Population-Based Incremental Learning </li>
				<li>Probabilistic Incremental Program Evolution</li>
				<li>Compact Genetic Algorithm</li>
				<li>Extended Compact Genetic Algorithm</li>
				<li>Bayesian Optimization Algorithm</li>
				<li>Hierarchical Bayesian Optimization Algorithm</li>
				<li>Univariate Marginal Distribution Algorithm </li>
				<li>Bivariate Marginal Distribution Algorithm</li>
				<li>Gaussian Adaptation</li>
			</ol>
			<li>Swarm Algorithms</li>
			<ol>
				<li>Particle Swarm Optimization</li>
				<li>AntNet</li>
				<li>Ant System</li>
				<li>Max-Min Ant System</li>
				<li>Rank-Based Ant System</li>
				<li>Ant Colony System</li>
				<li>Multiple Ant Colony System</li>
				<li>Population-based Ant Colony Optimization</li>
				<li>Bees Algorithm</li>
				<li>Bacterial Foraging Optimization Algorithm</li>
			</ol>
			<li>Immune Algorithms</li>
			<ol>
				<li>Clonal Selection Algorithm</li>
				<li>Negative Selection Algorithm</li>
				<li>Artificial Immune Recognition System</li>
				<li>Immune Network Algorithm</li>
				<li>Dendritic Cell Algorithm</li>
			</ol>
		</ol>
		
		<li>Extensions</li>
		<ol>
			<li>Advanced Topics</li>
		</ol>
	</ol>
</div>



