<% title("About") %>

<div class="subtitle">About</div>

<div class="subsubtitle">The Clever Algorithms Project</div>
<div class="about">
	<p>
	An open problem in the field of Artificial Intelligence is that algorithm 
	descriptions are commonly incomplete, inconsistent, and distributed resulting 
	in variable interpretations of algorithms, undue attrition of algorithms, 
	and ultimately bad science. 	
	</p>
	<p>
	The Clever Algorithms project is an effort to describe a large number 
	of algorithmic techniques from the the fields of Metaheuristics, Biologically Inspired 
	Computation, and Computational Intelligence in a complete, consistent, 
	and centralized manner such that they are accessible, usable, and 
	understandable. 
	</p>
	<p>
	The audience for this algorithm descriptions produced by the project include 
	research scientists, engineers, students, and interested amateurs.
	</p>
	<p>
	The outcomes for this project are a compendium of algorithm descriptions released 
	as a book entitled "<%= link_to book_title, book_url %>" as well as the 
	<%= link_to site_name, site_url %> website that provides all content for free.
	</p>
	<p>
		For more information on the background of this project, see: 
		<ul>
			<li>
				Jason Brownlee. <%= link_to "The Clever Algorithms Project: Overview", "http://github.com/jbrownlee/CleverAlgorithms/raw/master/workspace/release/techreport-20100105-1.pdf" %>. 
				Technical Report CA-TR-20100105-1, The Clever Algorithms Project http://www.CleverAlgorithms.com, January 2010.
			</li>
		</ul>
	</p>			
</div>


<div class="subsubtitle">Development</div>
<div class="about">
	<p>
	An incremental content development methodology was used to complete the project
	that involved the completion of discrete standalone algorithm descriptions over an extended 
	period of time. This approach allowed continuous review, revision, and refinement of both 
	the content and the algorithm description template.
	</p>
	<p>
	The content for the project was developed as a series of technical reports 
	in a public github project. The project all produced technical reports are
	available from: <%= link_to "http://github.com/jbrownlee/CleverAlgorithms", "http://github.com/jbrownlee/CleverAlgorithms" %> 
	</p>
</div>


<div class="subsubtitle">Contribute</div>
<div class="about">
	<p>
	Found a typo in the content or a bug in the source code? 		
	Are you an expert in a technique and know some facts that could improve an algorithm description for all?
	Do you want to get that warm feeling from contributing to an open source project? 
	Do you want to see your name as an acknowledgment in print?
	</p>
	<p>
	Two pillars of this effort are i) that the best domain experts are people outside of the project, 
	and ii) that this work is wrong by default. 
	<strong>Please help to make this work less wrong</strong> 
	by emailing the project author: <%= mail_to jason_email, "Jason Brownlee" %> 
	or by clicking the "Make Suggestion" links provided in each algorithm description.
	</p>
</div>




