<% title("Support") %>
<a name="support"></a>
<div class="subtitle">Support (Algorithms!?! AAAHH!!!1!)</div>
<p>Looking for some help?</p>

<div class="algorithm_subheading">Contents</div>
<div class="algorithm_menu">
	<ul>
		<li><%= link_to "Background Information", '#background' %></li>
		<li><%= link_to "Help", '#help' %></li>
	</ul>
</div>

<a name="project"></a>
<div class="subsubtitle">Background Information</div>
<div class="text">
	<p>
	What are all of these algorithms? What is Artificial Intelligence? What is Computational Intelligence, Metaheuristics, and Biologically Inspired Computation?
	</p>
	<p>
	If you are new to the field and would like to know the basics (just enough to cause some mischief), please see:
	<ul>
		<li>Jason Brownlee. <%= link_to "A Gentle Introduction to AI: Natural Computation, Computational Intelligence and Metaheuristics", "http://github.com/jbrownlee/CleverAlgorithms/raw/master/workspace/release/techreport-20100118-1.pdf" %>. Technical Report CA-TR-20100115-1, The Clever Algorithms Project http://www.CleverAlgorithms.com, January 2010.</li>
		<li>Jason Brownlee. <%= link_to "Unconventional Optimization Algorithms: An Introduction", "http://github.com/jbrownlee/CleverAlgorithms/raw/master/workspace/release/techreport-20100118-1.pdf" %>. Technical Report CA-TR-20100118-1, The Clever Algorithms Project http://www.CleverAlgorithms.com, January 2010.</li>
	</ul>
	</p>	
	<p>
	For a deeper understanding of the field, grab yourself a copy of any of these excellent text books:
	<ul>
		<li>Stuart Russell and Peter Norvig. <%= link_to "Artificial Intelligence: A Modern Approach", "http://www.amazon.com/dp/0136042597/?tag=inspiredalgor-20" %>. Prentice Hall, third edition, 2009.</li>
		<li>Andries P. Engelbrecht. <%= link_to "Computational Intelligence: An Introduction", "http://www.amazon.com/dp/0470035617/?tag=inspiredalgor-20" %>. John Wiley and Sons, second edition, 2007.</li>
		<li>George F. Luger and William A. Stubblefield. <%= link_to "Artificial Intelligence: Structures and Strategies for Complex Problem Solving", "http://www.amazon.com/dp/0321545893/?tag=inspiredalgor-20" %>. Benjamin/Cummings Pub. Co., sixth edition, 2006.</li>
	</ul>
	</p>
	<p>
	If you are new to the Ruby Programming Language, please consider one of the following reference texts:
	<ul>
		<li>Dave Thomas, Chad Fowler, and Andy Hunt. <%= link_to "Programming Ruby 1.9: The Pragmatic Programmers' Guide", "http://www.amazon.com/dp/1934356085/?tag=inspiredalgor-20" %>. Pragmatic Bookshelf, 3rd edition, 2009.</li>
		<li>David Flanagan and Yukihiro Matsumoto. <%= link_to "The Ruby Programming Language", "http://www.amazon.com/dp/0596516177/?tag=inspiredalgor-20" %>. O'Reilly Media, 2008.</li>		
	</ul>
	</p>
</div>

<a name="help"></a>
<div class="subsubtitle">Help</div>
<div class="text">
	<p>
	Does something about an algorithm just not make sense?
	Having trouble adapting an algorithm for a specific application? 
	Looking to have a chat about the field, life, and everything?
	</p>
	<p>
	If you really are in need of algorithm support and think I (<%= book_author %>, your humble author) can help, try
	<%= link_to "sending me a message", "" %> or <%= mail_to jason_email, "an email" %>. You might just get a response!
	</p>
	<p> If there is sufficient demand, we can look at setting up a forum or an email list (hint! hint!).</p>
</div>

