<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
  <meta http-equiv="content-language" content="en"/>
  <meta http-equiv="Content-Script-Type" content="text/javascript"/>
  <meta http-equiv="Content-Style-Type" content="text/css"/>
  <%= yield :metadata %>
  <title><%= yield(:title) || site_name() %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= yield :stylesheet %> 
  <%= yield :script %> 
</head>
<body>
	<div class="head">
		<div class="title">
			Clever Algorithms
		</div>
		<div class="menu">
			<%= link_to "Home", root_path %> |
			<%= link_to "Book", book_path %> |
			<%= link_to "Algorithms", algorithms_path %> |
			<%= link_to "Admin", admin_panel_path %>
		</div>		
	</div>
	<div class="flash">
		<%= flash[:notice] %>
	</div>
	<div class="body">
		<div class="content">
			<%= yield %>
		</div>
	</div>
</body>
</html>
