<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= yield(:title) || site_name() %></title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>
	<div id="head">
		<div id="title">
			Clever Algorithms
		</div>
		<div id="menu">
			<%= link_to "Home", root_path %> |
			<%= link_to "Book", book_path %> |
			<%= link_to "Algorithms", algorithms_path %> |
			<%= link_to "Admin", admin_panel_path %>
		</div>		
	</div>
	<div id="body">
		<div id="flash">
			<%= flash[:notice] %>
		</div>
		<div id="content">
			<%= yield %>
		</div>
	</div>
</body>
</html>
