<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
  <meta http-equiv="content-language" content="en"/>
  <meta http-equiv="Content-Script-Type" content="text/javascript"/>
  <meta http-equiv="Content-Style-Type" content="text/css"/>
  <%= yield :metadata %>
  <title><%= yield(:title) || site_name() %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= yield :stylesheet %> 
  <%= yield :script %> 
</head>
<body <%= yield :body_tag %>>
	<div class="head">
		<div class="title">
		<!-- <%= link_to "CleverAlgorithms.com", root_url %> -->
		Clever Algorithms
		</div>		
	</div>
	<div class="flash"><%= flash[:notice] %></div>
	<div class="body">
		<table class="content">
			<tr>
				<td class="menu">
					<div class="menu_title">Navigation</div>
					<div class="menu_content">
						<ul>
							<li><%= link_to "Home", root_path %></li>
							<li><%= link_to "Get the Book!", book_path %></li>
							<li><%= link_to "All algorithms", algorithms_path %></li>
							<li><%= link_to "About", about_path %></li>
							<li><%= link_to "Support", support_path %></li>
							<li><%= link_to "Admin", admin_panel_path %></li>
						</ul>
					</div>
					
					<div class="menu_title">Popular Algorithms</div>
					<div class="menu_content">
						<ul>
							<% popular_algorithms.each do |a| -%>
							<li><%= link_to a.name, a %></li>							
							<% end -%>
						</ul>
					</div>
					
					<div class="menu_title">Updated Algorithms</div>
					<div class="menu_content">
						<ul>
							<% updated_algorithms.each do |a| -%>
							<li><%= link_to a.name, a %></li>							
							<% end -%>
						</ul>
					</div>
					
				</td>
				<td class="page">
					<%= yield %>
				</td>				
			</tr>	
			<tr>
				<td></td>
				<td>
					<div class="footer">
						&copy; Copyright 2010 <%= mail_to jason_email, book_author %> Some Rights Reserved. <br />
						<!--
						<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/2.5/au/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/2.5/au/88x31.png" /></a>						
						-->
						This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/2.5/au/">Creative Commons Attribution-Noncommercial-Share Alike 2.5 Australia License</a>.						
					</div>
				</td>
			</tr>		
		</table>
	</div>
</body>
</html>
