<% title("#{@algorithm.name} : Edit Message") %>

<div class="subtitle"><%= "#{@algorithm.name} : Edit Message" %></div>


<table>
	<tr>
		<th>Username:</th>
		<td><%= (@message.name.empty?) ? "n/a" : h(@message.name) %></td>		
	</tr>
	<tr>
		<th>Email:</th>
		<td><%= (@message.email.empty?) ? "n/a" : mail_to(h(@message.email))  %></td>
	</tr>
	<tr>
		<th>Message:</th>
		<td><%=h @message.msg %></td>		
	</tr>
<% form_for [:admin, @algorithm, @message]  do |f| %>
		<%= f.error_messages  %>	
	<tr>
		<th><%= f.label :addressed %>:</th>
		<td><%= f.check_box :addressed %></td>		
	</tr>
	<tr>		
		<td>
			<br />
			<%= f.submit 'Update' %> |
			<%= link_to 'Back', admin_algorithm_messages_path(@algorithm) %>
		</td>		
		<td></td>
	</tr>
<% end %>	
</table>


