<% title("#{@algorithm} Messages") %>

<div class="subtitle"><%= "#{@algorithm} Messages" %></div>

<table width="100%">
  <tr>
	  <th>Name</th>
    <th>Email</th>
    <th>Msg</th>
    <th>Addressed</th>
  </tr>

<% @messages.each do |message| %>
  <tr <%= (!message.addressed) ? "class='highlighted'" : "" -%> >
	  <td><%= (message.name.empty?) ? "n/a" : h(message.name) %></td>
    <td><%= (message.email.empty?) ? "n/a" : h(message.email) %></td>
    <td><%=h message.msg %></td>
		<td><%= message.addressed ? "yes" : "no" %></td>
    <td><%= link_to 'Edit', edit_admin_algorithm_message_path(@algorithm, message) %></td>
    <td><%= link_to 'Destroy', {:controller=>"admin/messages", :action=>"destroy", :id=>message, :algorithm_id=>@algorithm}, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to "Manage Algorithms", admin_algorithms_path %>