<% title("All algorithms") %>

<div class="subtitle">All algorithms</div>

<div class="text">
	<p>
	The Clever Algorithms project is responsible for the description of <strong><%=h Algorithm.count %></strong> algorithms 
	(<%=h Algorithm.released.count %> finished and <%=h Algorithm.unreleased.count %> coming soon). 
	A total of <strong><%=h Algorithm.book.count %></strong> of the described algorithms are in the <%= link_to "Clever Algorithms book", book_path %>. 	
	</p>
</div>
<%
groups = {}
@algorithms.each do |a| 
	groups[a.kingdom] = [] if groups[a.kingdom].nil?
	groups[a.kingdom]<<a
end
groups.keys.each {|key| groups[key].sort!{|x,y| x.name<=>y.name} }

%>

<a name="algorithms"></a>
<div class="subsubtitle">Algorithms</div>

<% groups.keys.each do |group| %>
<div>
	<strong><%=group %></strong>
</div>
<ul>
	<% groups[group].each do |algorithm| %>
		<li>
			<%= link_to algorithm.name, algorithm %>
		</li>		
	<% end %>
</ul>

<% end %>




<div class="make_suggestion">
	<div class="text">
		<p>
		Is there an algorithm missing, one that you would really like to see described?
		</p>
		<p>
		We prioritize the writing of algorithm descriptions based on their
		calculated popularity and user demand.
		</p>
		<p>
		Please send an email to <%= mail_to jason_email, book_author %> and list missing algorithms.
		Any references to primary sources would be greatly appreciated.
		</p>
		<p>
		For more information on the methodology used to select algorithms for the Clever Algorithms project, please see: 
			<ul>
				<li>Jason Brownlee. <%= link_to "Data-Driven Optimization Algorithm Selection", "http://github.com/jbrownlee/CleverAlgorithms/raw/master/workspace/release/techreport-20100112-1.pdf" %>. Technical Report CA-TR-20100112-1, The Clever Algorithms Project http://www.CleverAlgorithms.com, January 2010.</li>
			</ul>
		</p>
	</div>
</div>