<% title("All algorithms") %>

<div class="subtitle">All algorithms</div>

<div class="text">
	<p>
	There are currently <strong><%=h Algorithm.released.count %> algorithms</strong> described 
	of the <%=h Algorithm.count %> algorithms in the Clever Algorithms project.
	</p>
</div>

<a name="released"></a>
<div class="subsubtitle">Released</div>
<div class="text">
	<ul>
	<% @released.each do |algorithm| %>
		<li><%= link_to algorithm.name, algorithm %></li>		
	<% end %>
	</ul>
</div>

<a name="unreleased"></a>
<div class="subsubtitle">Coming Soon</div>
<div class="text">
	<ul>
	<% @unreleased.each do |algorithm| %>
		<li><%= link_to algorithm.name, algorithm %></li>		
	<% end %>
	</ul>
</div>

<div class="make_suggestion">
	<div class="text">
		<p>
		Is there an algorithm missing, one that you would really like to see described?
		</p>
		<p>
		We prioritize the writing of algorithm descriptions based on their
		calculated popularity and user demand.
		</p>
		<p>
		Please, <%= link_to "let us know", "" %> and suggest 
		we hurry up!
		</p>
		<p>
		For more information on the methodology used to select algorithms for the Clever Algorithms project, please see: 
			<ul>
				<li>Jason Brownlee. <%= link_to "Data-Driven Optimization Algorithm Selection", "http://github.com/jbrownlee/CleverAlgorithms/raw/master/workspace/release/techreport-20100112-1.pdf" %>. Technical Report CA-TR-20100112-1, The Clever Algorithms Project http://www.CleverAlgorithms.com, January 2010.</li>
			</ul>
		</p>
	</div>
</div>