<% title(@algorithm.name) %>
<% content_for :stylesheet do %>
	<%= stylesheet_link_tag 'prettify', :cache => 'prettify_c' %>
<% end %>
<% content_for :script do %>
	<%= javascript_include_tag 'prettify' %>
<% end %>
<% content_for :body_tag do %>
	<%= "onload='prettyPrint()'" %>
<% end %>

<div class="algorithm">
	<div class="algorithm_title">
		<div class="algorithm_name">
			<%=h @algorithm.name %>
		</div>
		<div class="algorithm_aliases">
			<%=h @algorithm.aliases %>
		</div>		
	</div>

	
	<div class="algorithm_subheading">Taxonomy</div>
	<div class="algorithm_taxonomy">		
		<%=h @algorithm.taxonomy %>
	</div>
	
	<% if !@algorithm.inspiration.empty? %>
	<div class="algorithm_subheading">Inspiration</div>
	<div class="algorithm_inspiration">
		<%=h @algorithm.inspiration %>
	</div>
	<% end %>
	
	<% if !@algorithm.metaphor.empty? %>
	<div class="algorithm_subheading">Metaphor</div>
	<div class="algorithm_metaphor">
		<%=h @algorithm.metaphor %>
	</div>
	<% end %>
	
	<div class="algorithm_subheading">Strategy</div>
	<div class="algorithm_strategy">
		<%=h @algorithm.strategy %>
	</div>
	
	<div class="algorithm_subheading">Procedure</div>
	<div class="algorithm_procedure">
		<%=h @algorithm.procedure %>
	</div>
	
	<div class="algorithm_subheading">Code Listing</div>
	<div class="algorithm_code">
		<%=h @algorithm.code %>

<pre class="prettyprint lang-rb">
<% if @filedata.nil? -%>
Source file could not be located
<% else -%>
<%= @filedata -%>
<% end -%>
</pre>		
		<div class="download">
			<%= link_to "Download #{@filename}", @algorithm.code_file %>
		</div>
	</div>
	
	<div class="algorithm_subheading">References</div>
	<div class="algorithm_references">
		<%=h @algorithm.references %>
	</div>
</div>


<div class="algorithm_footer">
&copy; Copyright 2010 <%= mail_to jason_email, "Jason Brownlee" %> Some Rights Reserved. <br />
<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/2.5/au/">
	<img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/2.5/au/88x31.png" /></a>
<br />
This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/2.5/au/">Creative Commons Attribution-Noncommercial-Share Alike 2.5 Australia License</a>.
</div>