<% title(@algorithm.name) %>

<div id="algorithm">
	<div id="algorithm_name">
		<%=h @algorithm.name %>
	</div>
	<div id="algorithm_aliases">
		<%=h @algorithm.aliases %>
	</div>
	<div id="algorithm_taxonomy">
		<%=h @algorithm.taxonomy %>
	</div>
	<% if !@algorithm.inspiration.empty? %>
	<div id="algorithm_inspiration">
		<%=h @algorithm.inspiration %>
	</div>
	<% end %>
	<% if !@algorithm.metaphor.empty? %>
	<div id="algorithm_metaphor">
		<%=h @algorithm.metaphor %>
	</div>
	<% end %>
	<div id="algorithm_strategy">
		<%=h @algorithm.strategy %>
	</div>
	<div id="algorithm_procedure">
		<%=h @algorithm.procedure %>
	</div>
	<div id="algorithm_code">
		<%=h @algorithm.code %>
		<%=h @algorithm.code_file %>
	</div>
	<div id="algorithm_references">
		<%=h @algorithm.references %>
	</div>
</div>
