<% title(@algorithm.name) %>
<% content_for :stylesheet do %>
<%= stylesheet_link_tag 'prettify', :cache => 'prettify_c' -%>
<% end %>
<% content_for :script do %>
<%= javascript_include_tag 'prettify' -%>
<%= javascript_include_tag 'http://mathcache.s3.amazonaws.com/replacemath.js' -%>
<% end %>
<% content_for :body_tag do %>
<%= "onload='prettyPrint()'" -%>
<% end %>

<div class="algorithm">
	<a name="algorithm_name"></a>
	<div class="algorithm_title">
		<div class="algorithm_name">			
			<%=h @algorithm.name %>
		</div>
		<div class="algorithm_aliases">
			<% if @algorithm.released %>
				<%=h @algorithm.aliases %>
			<% else %>
				<%= unreleased_text %>
			<% end %>
		</div>		
	</div>
	
	<div class="algorithm_subheading">Contents</div>
	<div class="algorithm_menu">
		<ul>
			<li><%= link_to "Taxonomy", '#algorithm_taxonomy' %></li>
			<% if !@algorithm.inspiration.empty? %>
				<li><%= link_to "Inspiration", '#algorithm_inspiration' %></li>
			<% end %>
			<% if !@algorithm.metaphor.empty? %>
				<li><%= link_to "Metaphor", '#algorithm_metaphor' %></li>
			<% end %>			
			<li><%= link_to "Strategy", '#algorithm_strategy' %></li>
			<% if false %>
				<li><%= link_to "Procedure", '#algorithm_procedure' %></li>
			<% end %>
			
			<li><%= link_to "Heuristics", '#algorithm_heuristics' %></li>
			<li><%= link_to "Code Listing", '#algorithm_code' %></li>
			<li><%= link_to "References", '#algorithm_references' %></li>
			<li><%= link_to "Around the Web", '#algorithm_web' %></li>
			<li><%= link_to "Bibliography", '#algorithm_bibliography' %></li>
		</ul>
	</div>

	<a name="algorithm_taxonomy"></a>
	<div class="algorithm_subheading">Taxonomy</div>	
	<div class="algorithm_taxonomy">		
		<% if @algorithm.released %>
			<%=make_paragraphs @algorithm.taxonomy %>
		<% else %>
			<%= unreleased_text %>
		<% end %>
				
	</div>
	
	<% if !@algorithm.inspiration.empty? %>
	<a name="algorithm_inspiration"></a>
	<div class="algorithm_subheading">Inspiration</div>
	<div class="algorithm_inspiration">
		<% if @algorithm.released %>
			<%=make_paragraphs @algorithm.inspiration %>
		<% else %>
			<%= unreleased_text %>
		<% end %>
				
	</div>
	<% end %>
	
	<% if !@algorithm.metaphor.empty? %>
	<a name="algorithm_metaphor"></a>
	<div class="algorithm_subheading">Metaphor</div>
	<div class="algorithm_metaphor">
		<% if @algorithm.released %>
			<%=make_paragraphs @algorithm.metaphor %>
		<% else %>
			<%= unreleased_text %>
		<% end %>
				
	</div>
	<% end %>
	
	<a name="algorithm_strategy"></a>
	<div class="algorithm_subheading">Strategy</div>
	<div class="algorithm_strategy">
		<% if @algorithm.released %>
			<%=make_paragraphs @algorithm.strategy %>
		<% else %>
			<%= unreleased_text %>
		<% end %>
				
	</div>
	
<% if false %>	
	<a name="algorithm_procedure"></a>
	<div class="algorithm_subheading">Procedure</div>
	<div class="algorithm_procedure">
		<% if @algorithm.released %>
			<%=make_paragraphs @algorithm.procedure %>
		<% else %>
			<%= unreleased_text %>
		<% end %>
				
	</div>
<% end %>	
	
	<a name="algorithm_heuristics"></a>
	<div class="algorithm_subheading">Heuristics</div>
	<div class="algorithm_heuristics">
		<% if @algorithm.released %>
			<%=make_unorded_list @algorithm.heuristics %>
		<% else %>
			<%= unreleased_text %>
		<% end %>	
					
	</div>
	
	<a name="algorithm_code"></a>
	<div class="algorithm_subheading">Code Listing</div>
	<div class="algorithm_code">
		<% if @algorithm.released %>
			<%=make_paragraphs @algorithm.code %>
<pre class="prettyprint lang-rb">
<% if @filedata.nil? -%>
Sorry, the source file could not be located.
<% else -%>
<%= @filedata -%>
<% end -%>
</pre>		
		<div class="download">
			Download: <%= link_to "#{@filename}", @algorithm.code_file %>
		</div>
		<% else %>
			<%= unreleased_text %>
		<% end %>
		
	</div>

	
	<a name="algorithm_references"></a>
	<div class="algorithm_subheading">References</div>
	<div class="algorithm_references">
		<% if @algorithm.released %>
			<%=make_paragraphs @algorithm.references %>
		<% else %>
			<%= unreleased_text %>
		<% end %>	
					
	</div>
	
	<a name="algorithm_web"></a>
	<div class="algorithm_subheading">Around the Web</div>
	<div class="algorithm_web">
		<% if @algorithm.released %>
			<%=make_links @algorithm.web %>
		<% else %>
			<%= unreleased_text %>
		<% end %>
						
	</div>
	
	<a name="algorithm_bibliography"></a>
	<div class="algorithm_subheading">Bibliography</div>
	<div class="algorithm_bibliography">
		<% if @algorithm.released %>
			<%=make_bibliography @algorithm.bibliography %>
		<% else %>
			<%= unreleased_text %>
		<% end %>	
		
	</div>
	
	<div class="make_suggestion">
		<div class="text">
			<p>
			Found a typo in the content or a bug in the source code? 		
			Are you an expert in a technique and know some facts that could improve an algorithm description for all?
			Do you want to get that warm feeling from contributing to an open source project? 
			</p>
			<p>
			Two pillars of this effort are i) that the best domain experts are people outside of the project, 
			and ii) that this work is (somewhat) wrong by default. 
			<strong>Please help to make this work less wrong!</strong>.
			</p>
			<p>
			<%=make_suggestion(@algorithm) %> to improve this algorithm description. 
			</p>
		</div>
		
	</div>
	
</div>


<div class="algorithm_footer">
</div>

<!-- process latex -->
<script type="text/javascript">
replaceMath( document.body );
</script>