<% title(@algorithm.name) %>
<% content_for :stylesheet do %>
<%= stylesheet_link_tag 'prettify', :cache => 'prettify_c' -%>
<% end %>
<% content_for :script do %>
<%= javascript_include_tag 'prettify' -%>
<%= javascript_include_tag 'http://mathcache.s3.amazonaws.com/replacemath.js' -%>
<% end %>
<% content_for :body_tag do %>
<%= "onload='prettyPrint()'" -%>
<% end %>

<div class="algorithm">
	<a name="algorithm_name"></a>
	<div class="algorithm_title">
		<div class="algorithm_name">			
			<%=h @algorithm.name %>
		</div>
		<div class="algorithm_aliases">
			<% if @algorithm.aliases == "N/A" %>
				Coming soon.
			<% else %>
				<%=h @algorithm.aliases %>
			<% end %>
		</div>		
		<div class="algorithm_menu">
			<%= link_to "Name", '#algorithm_name' %> |
			<%= link_to "Taxonomy", '#algorithm_taxonomy' %> |
			<% if !@algorithm.inspiration.empty? %>
				<%= link_to "Inspiration", '#algorithm_inspiration' %> |
			<% end %>
			<% if !@algorithm.metaphor.empty? %>
				<%= link_to "Metaphor", '#algorithm_metaphor' %> |
			<% end %>
			<%= link_to "Strategy", '#algorithm_strategy' %> |
			<% if false %>
			<%= link_to "Procedure", '#algorithm_procedure' %> |
			<% end %>
			<%= link_to "Heuristics", '#algorithm_heuristics' %> |
			<%= link_to "Code Listing", '#algorithm_code' %> |
			<%= link_to "References", '#algorithm_references' %> |
			<%= link_to "Around the Web", '#algorithm_web' %> |
			<%= link_to "Bibliography", '#algorithm_bibliography' %> 
		</div>
	</div>

	<a name="algorithm_taxonomy"></a>
	<div class="algorithm_subheading">Taxonomy</div>	
	<div class="algorithm_taxonomy">		
		<% if @algorithm.taxonomy == "N/A" %>
			Coming soon.
		<% else %>
			<%=make_paragraphs @algorithm.taxonomy %>
		<% end %>
	</div>
	
	<% if !@algorithm.inspiration.nil? %>
	<a name="algorithm_inspiration"></a>
	<div class="algorithm_subheading">Inspiration</div>
	<div class="algorithm_inspiration">
		<% if @algorithm.inspiration == "N/A" %>
			Coming soon.
		<% else %>
			<%=make_paragraphs @algorithm.inspiration %>
		<% end %>
	</div>
	<% end %>
	
	<% if !@algorithm.metaphor.nil? %>
	<a name="algorithm_metaphor"></a>
	<div class="algorithm_subheading">Metaphor</div>
	<div class="algorithm_metaphor">
		<% if @algorithm.metaphor == "N/A" %>
			Coming soon.
		<% else %>
			<%=make_paragraphs @algorithm.metaphor %>
		<% end %>
	</div>
	<% end %>
	
	<a name="algorithm_strategy"></a>
	<div class="algorithm_subheading">Strategy</div>
	<div class="algorithm_strategy">
		<% if @algorithm.strategy == "N/A" %>
			Coming soon.
		<% else %>
			<%=make_paragraphs @algorithm.strategy %>
		<% end %>
	</div>
	
	<a name="algorithm_procedure"></a>
	<div class="algorithm_subheading">Procedure</div>
	<div class="algorithm_procedure">
		<% if @algorithm.procedure == "N/A" %>
			Coming soon.
		<% else %>
			<%=make_paragraphs @algorithm.procedure %>
		<% end %>
	</div>
	
	<a name="algorithm_heuristics"></a>
	<div class="algorithm_subheading">Heuristics</div>
	<div class="algorithm_heuristics">
		<% if @algorithm.heuristics == "N/A" %>
			Coming soon.
		<% else %>
			<%=make_unorded_list @algorithm.heuristics %>
		<% end %>		
	</div>
	
	<a name="algorithm_code"></a>
	<div class="algorithm_subheading">Code Listing</div>
	<div class="algorithm_code">
		<% if @algorithm.code == "N/A" %>
			Coming soon.
		<% else %>
			<%=make_paragraphs @algorithm.code %>
<pre class="prettyprint lang-rb">
<% if @filedata.nil? -%>
Sorry, the source file could not be located.
<% else -%>
<%= @filedata -%>
<% end -%>
</pre>		
		<div class="download">
			Download: <%= link_to "#{@filename}", @algorithm.code_file %>
		</div>
	</div>
		<% end %>
	
	<a name="algorithm_references"></a>
	<div class="algorithm_subheading">References</div>
	<div class="algorithm_references">
		<% if @algorithm.references == "N/A" %>
			Coming soon.
		<% else %>
			<%=make_paragraphs @algorithm.references %>
		<% end %>				
	</div>
	
	<a name="algorithm_web"></a>
	<div class="algorithm_subheading">Around the Web</div>
	<div class="algorithm_web">
		<% if @algorithm.web == "N/A" %>
			Coming soon.
		<% else %>
			<%=make_links @algorithm.web %>
		<% end %>				
	</div>
	
	<a name="algorithm_bibliography"></a>
	<div class="algorithm_subheading">Bibliography</div>
	<div class="algorithm_bibliography">
		<% if @algorithm.bibliography == "N/A" %>
			Coming soon.
		<% else %>
			<%=make_bibliography @algorithm.bibliography %>
		<% end %>	
	</div>
</div>


<div class="algorithm_footer">
&copy; Copyright 2010 <%= mail_to jason_email, "Jason Brownlee" %> Some Rights Reserved. <br />
<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/2.5/au/">
	<img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/2.5/au/88x31.png" /></a>
<br />
This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/2.5/au/">Creative Commons Attribution-Noncommercial-Share Alike 2.5 Australia License</a>.
</div>

<!-- process latex -->
<script type="text/javascript">
replaceMath( document.body );
</script>