<% title(@algorithm.name) %>
<% content_for :metadata do %>
	<meta name="description" content="<%=@algorithm.name -%>" />
	<meta name="keywords" content="<%=@algorithm.aliases.blank? ? @algorithm.name : @algorithm.aliases -%>" />
<% end %>
<% content_for :stylesheet do %>
	<%= stylesheet_link_tag 'prettify', :cache => 'prettify_c' -%>
<% end %>
<% content_for :script do %>
	<%= javascript_include_tag 'prettify' -%>
	<%= javascript_include_tag 'http://mathcache.s3.amazonaws.com/replacemath.js' -%>
<% end %>
<% content_for :body_tag do %>
	<%= "onload='prettyPrint()'" -%>
<% end %>

<div class="algorithm">
	<a name="algorithm_name"></a>
	<div class="algorithm_title">
		<div class="algorithm_name" style="background:<%=algorithm_color(@algorithm) %>;">			
			<%=h @algorithm.name %>
		</div>
		<div class="algorithm_aliases">
			<% if @algorithm.released %>
				<%= @algorithm.aliases.blank? ? nocontent_text : @algorithm.aliases %>
			<% else %>
				<%= unreleased_text %>
			<% end %>
		</div>		
	</div>
	
	<% if !@algorithm.released or !@algorithm.completed() %>	
		<div class="make_suggestion2">
			<div class="text">
				<% if @algorithm.book %>
<p>
Sorry, this algorithm description is currently not completed.
</p>
<p>
We prioritize the writing of algorithm descriptions based on their calculated popularity and user demand.
</p>
<p>
Please, <%= link_to "let us know", {:controller=>"messages", :action=>"new", :algorithm_id=>@algorithm} %> 
you want to read about this algorithm, and suggest we hurry up with the description!
</p>
				<% else %>
<p>
Sorry, this algorithm description is currently not completed and is not in the <%= link_to "Clever Algorithms book", book_path %>.
</p>
<p>
We prioritize the writing of algorithm descriptions based on their calculated popularity and user demand.
</p>
<p>
Please, <%= link_to "let us know", {:controller=>"messages", :action=>"new", :algorithm_id=>@algorithm} %> 
you want to read about this algorithm, and/or that it really should be included in the book!
</p>				
				<% end %>
			</div>
		</div>
	<% end %>
	
	<div class="algorithm_subheading">Contents</div>
	<div class="algorithm_menu">
		<ul>
			<li><%= link_to "Taxonomy", '#algorithm_taxonomy' %></li>
			<% if !@algorithm.inspiration.empty? %>
				<li><%= link_to "Inspiration", '#algorithm_inspiration' %></li>
			<% end %>
			<% if !@algorithm.metaphor.empty? %>
				<li><%= link_to "Metaphor", '#algorithm_metaphor' %></li>
			<% end %>			
			<li><%= link_to "Strategy", '#algorithm_strategy' %></li>
			<% if false %>
				<li><%= link_to "Procedure", '#algorithm_procedure' %></li>
			<% end %>
			
			<li><%= link_to "Heuristics", '#algorithm_heuristics' %></li>
			<li><%= link_to "Code Listing", '#algorithm_code' %></li>
			<li><%= link_to "References", '#algorithm_references' %></li>
			<li><%= link_to "Around the Web", '#algorithm_web' %></li>
			<li><%= link_to "Bibliography", '#algorithm_bibliography' %></li>
		</ul>
	</div>

	<a name="algorithm_taxonomy"></a>
	<div class="algorithm_subheading">Taxonomy</div>	
	<div class="algorithm_taxonomy">		
		<% if @algorithm.released %>
			<%= @algorithm.taxonomy.empty? ? nocontent_text : make_paragraphs(@algorithm.taxonomy) %>
		<% else %>
			<%= unreleased_text %>
		<% end %>
				
	</div>
	
	<% if !@algorithm.inspiration.empty? %>
	<a name="algorithm_inspiration"></a>
	<div class="algorithm_subheading">Inspiration</div>
	<div class="algorithm_inspiration">
		<% if @algorithm.released %>
			<%=make_paragraphs @algorithm.inspiration %>
		<% else %>
			<%= unreleased_text %>
		<% end %>
				
	</div>
	<% end %>
	
	<% if !@algorithm.metaphor.empty? %>
	<a name="algorithm_metaphor"></a>
	<div class="algorithm_subheading">Metaphor</div>
	<div class="algorithm_metaphor">
		<% if @algorithm.released %>
			<%=make_paragraphs @algorithm.metaphor %>
		<% else %>
			<%= unreleased_text %>
		<% end %>
				
	</div>
	<% end %>
	
	<a name="algorithm_strategy"></a>
	<div class="algorithm_subheading">Strategy</div>
	<div class="algorithm_strategy">
		<% if @algorithm.released %>
			<%= @algorithm.strategy.blank? ? nocontent_text : make_paragraphs(@algorithm.strategy) %>
		<% else %>
			<%= unreleased_text %>
		<% end %>
				
	</div>
	
<% if false %>	
	<a name="algorithm_procedure"></a>
	<div class="algorithm_subheading">Procedure</div>
	<div class="algorithm_procedure">
		<% if @algorithm.released %>
			<%=@algorithm.procedure.blank? ? nocontent_text : make_paragraphs(@algorithm.procedure)	 %>
		<% else %>
			<%= unreleased_text %>
		<% end %>
				
	</div>
<% end %>	
	
	<a name="algorithm_heuristics"></a>
	<div class="algorithm_subheading">Heuristics</div>
	<div class="algorithm_heuristics">
		<% if @algorithm.released %>
			<%= @algorithm.heuristics.blank? ? nocontent_text : make_unorded_list(@algorithm.heuristics) %>
		<% else %>
			<%= unreleased_text %>
		<% end %>	
					
	</div>
	
	<a name="algorithm_code"></a>
	<div class="algorithm_subheading">Code Listing</div>
	<div class="algorithm_code">
		<% if @algorithm.released %>
<% if @algorithm.code.blank? %> <%= nocontent_text %> <% else %>		
			<%=make_paragraphs @algorithm.code %>
<pre class="prettyprint lang-rb">
<% if @filedata.nil? -%>
Sorry, the source file could not be located.
<% else -%>
<%= @filedata -%>
<% end -%>
</pre>		
		<div class="download">
			Download: <%= link_to "#{@filename}", @algorithm.code_file %>
		</div>
<% end %>		
		<% else %>
			<%= unreleased_text %>
		<% end %>
		
	</div>

	
	<a name="algorithm_references"></a>
	<div class="algorithm_subheading">References</div>
	<div class="algorithm_references">
		<% if @algorithm.released %>
			<%= @algorithm.references.blank? ? nocontent_text : make_paragraphs(@algorithm.references) %>
		<% else %>
			<%= unreleased_text %>
		<% end %>	
					
	</div>
	
	<a name="algorithm_web"></a>
	<div class="algorithm_subheading">Around the Web</div>
	<div class="algorithm_web">
		<% if @algorithm.released %>		
			<%= @algorithm.web.blank? ? nocontent_text : make_links(@algorithm.web) %>
		<% else %>
			<%= unreleased_text %>
		<% end %>
						
	</div>
	
	<a name="algorithm_bibliography"></a>
	<div class="algorithm_subheading">Bibliography</div>
	<div class="algorithm_bibliography">
		<% if @algorithm.released %>
			<%= @algorithm.bibliography.blank? ? nocontent_text : make_bibliography(@algorithm.bibliography) %>
		<% else %>
			<%= unreleased_text %>
		<% end %>	
		
	</div>
	
<% if @algorithm.released %>	
	<div class="make_suggestion">
		<div class="text">
			<p>
			Found a typo in the content or a bug in the source code? 		
			Are you an expert in a technique and know some facts that could improve an algorithm description for all?
			Do you want to get that warm feeling from contributing to an open source project? 
			</p>
			<p>
			<%= link_to "Make a Suggestion", :controller=>"messages", :action=>"new", :algorithm_id=>@algorithm %> to improve this algorithm description. 
			</p>
		</div>
	</div>
<% end %>
	
</div>


<div class="algorithm_footer">
</div>

<!-- process latex -->
<script type="text/javascript">
replaceMath( document.body );
</script>